body{
 
    background-image: url("google.png");
    background-size: 10%;

}

#title{
    text-align: center;
    margin-top: 75px;

    margin: 63px;
}

.intro{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.button_container{
    width:150px;
    margin-left: auto;
    margin-right: auto;


}

.button{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-top: -50px;
    margin-right: auto;
    border-radius: 37%;
    background-color: rgb(255, 190, 90);
    position: relative;
}

.button:hover{
    background-color: blanchedalmond;
}

