html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier';
  font-size: 7pt;
  line-height: 7pt;
  background-color: rgb(44, 199, 234);
}


div{
    margin-top: -220px;
    margin-left: 20px;
    margin-right: auto;
}


.button{
    margin-left: 50px;
    top: 580px;
    height: 80px;
    width: 80px;
    color: blueviolet;
    display: inline;
    border-radius: 50%;
    background-color: blanchedalmond;
    position: relative;
    color:rgb(4, 68, 29);
    font-size:15px ;

}

.txt{
    position: relative;
    margin-top: 280px;
    margin-left: -140px;
    font-size: 20px;
    width: 350px;
    color: beige;
}

/* .message-div{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 190, 90);
    border-radius: 10px;
    color: rgb(4, 68, 29);
    font-size: 20px;
    padding: 10px;
    text-align: center;
} */

.ascii-image{
    color: aqua;
    margin-left: 15%;
    margin-right: auto;
    margin-top: -150px;
}

.submit-button{
    height: 50px;
    color: #0660af;
    background-color: #f5f5f5;
    border: 2px solid #333;
    border-radius: 5px;
    font-family:"Arial";
    font-size: 20px;
}

.submit-button:hover{
    background-color: #15a8ad;
    color: #f5f5f5;
    cursor: pointer;
}

.button:hover{
    background-color: #15a8ad;
    color: #f5f5f5;
    cursor: pointer;
}








  